# Environemts
*.vscode*
*.antlr*
*.venv*

# Python Cache
*__pycache__*

# Latex
*.aux*
*.lof*
*.log*
*.lot*
*.fls*
*.out*
*.toc*
*.fmt*
*.fot*
*.cb*
*.cb2*
*.dvi*
*.synctex.gz*
*.sty*

# RAI
*.log.global*